* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 1500px;
    margin: auto;
} */

.tries {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 2em;
    color: #aaaaaa;
    font-family: Arial, Helvetica, sans-serif;
}

.board-container {
    width: 70%;
    margin: auto;
    padding: 4em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    background-color: #dddddd;
    border-radius: 10em;
}

.card img {
    width: 20em;
    height: 30em;
    margin: 1em;
    border-radius: 1em;
}

.face {
    display: none;
}

.new-game {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    /* display: none; */
}

.new-game-btn {
    width: 10em;
    height: 3em;
    border-radius: 4em;
    border: none;
    font-size: 2em;
    display: none;
    color: #777777;
    font-weight: 700;
    background-color: #dddddd;
}
